<!DOCTYPE html>
<html>
<head>
    <title>Snake Game</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Welcome, {{ username }}!</h2>

<div style="display:flex; justify-content:center; gap:40px; align-items:flex-start;">

    <!-- LEFT: LIVE LEADERBOARD -->
    <div id="leaderboardBox" style="width:200px; color:white;">
        <h3>Leaderboard</h3>
        <ul id="leaderboardList"></ul>
    </div>

    <!-- RIGHT: GAME + SCORE -->
    <div id="gameContainer" style="display:none;">
        <h3>Score: <span id="scoreDisplay">0</span></h3>
        <canvas id="gameCanvas" width="400" height="400"></canvas>
    </div>


</div>

<a href="/logout">Logout</a>

<script src="/static/snake.js"></script>
<button id="startBtn" onclick="startSnake('{{ username }}')"
        style="padding:10px 20px; font-size:18px; margin:20px;">
    Start Game
</button>

<!-- Hide canvas until game starts -->
<script>
    document.getElementById("gameCanvas").style.display = "none";
</script>
</body>
</html>
